/*Styling for whole body */
body {
    margin: 0px;
    background-color: #aba;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Styling for paragraphs */
p {
    margin: 5px;
}

/*Styling for headings from 1 to 4*/
h1, h2, h3, h4 {
    text-align: center;
}

/*Styling for header unorder list*/
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Styling for header list item*/
header li {
    float: right;
}

/*Styling for header list item link*/
header li a {
    display: block;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: background-color 1s;
}

/*Styling for header list item link hover*/
header li a:hover {
    background-color: #111111;
}

/*Styling for header heading 1*/
header h1 {
    margin: 0px;
    padding: 10px;
}

/*Styling for navigation bar and aside section*/
nav, aside {
    overflow: hidden;
    background-color: #111111;
}

/*Styling for links, buttons and lables*/
a, button, label {
    cursor: pointer;
    text-decoration: none;
}

/*Styling for navigation unorder list*/
nav ul {
    list-style-type: none;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/*Styling for navigation list item link*/
nav li a {
    display: block;
    line-height: 48px;
    font-size: 18px;
    color: red;
    text-align: center;
    transition: background-color 1s;
}

/*Styling for navigation list item link hover*/
nav li a:hover {
    background-color: #aba;
}

/*Hiding section content*/
section {
    display: none;
}

/*Displaying section content when selected*/
section:target {
    display: block;
}

/*Styling for paragraphs in footer*/
footer p {
    padding: 10px;
    margin: 0px auto;
    text-align: right;
}

/*Styling for main*/
main {
    display: flex;
    min-height: 79vh;
}

/*Styling for content class*/
.content {
    flex-grow: 1;
}

/*Styling for aside section*/
aside {
    order: 3;
    color: aliceblue;
}

/*Applying baground color and font color for header and footer*/
header, footer {
    background-color:  teal;
    color: whitesmoke;
}

/*Setting minimum and maximum width for navigation bar and aside*/
nav, aside {
    min-width: 160px;
    max-width: 160px;
}

/*Styling for form*/
form{
    text-align: left;
    width: 450px;
    padding: 0 30%;
}

/*Styling for fields in form*/
fieldset {
    border: 1px dashed red;
    padding: 10px;
}

/*Styling for caption or legend of form*/
legend {
    padding: 0px 5px;
    text-align: center;
    font-size: 18px;
}

/*Styling lables of fields in form*/
label {
    display: inline-block;
    width: 200px;
}

/*Styling for input boxes in form*/
input {
    width: 200px;
}

/*Styling for submit button in form*/
input[type="submit"] {
    width: auto;
}

/*Hiding data in help class*/
.help {
    display: none;
    font-size: 90%;
}

/*Displaying content in help class when focused*/
input:focus + .help {
    display: inline-block;
}

/*Aligning submit button to center*/
div.submit{
    text-align: center;
}

/*Setting margins inside a form*/
fieldset > div {
    margin: 10px 0px;
}